.navigate {
    height: 50px;
    background-color: black;
    display: flex;
    width: 1691px;
}
body {
    width: 100%;
    margin: 0px;
    height: 100%;
    background-color: rgb(230, 244, 245);
}
.studentName {
    margin-left: 250px;
    color: rgb(0, 193, 193);
    font-size: 1.3em;
    line-height: 50px;
    width: 160px;
    text-decoration: none;
}
.left {
    background-color: black;
    color: white;
    margin: 14px 15px;
    font-size: 1em;
    border: 0px;
    text-decoration: none;
}
.logout {
    background-color: black;
    color: white;
    font-size: 1em;
    border: 0px;
    margin-left: 505px;
    margin-top: 14px;
    text-decoration: none;
}


.title {
    display: flex;
    margin-left: 250px;
    margin-top: 20px;
    width: 1300px;
    height: 40px;
}
.proName {
    background-color: rgb(0, 193, 193);
    width: 820px;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 47px;
    padding-left: 20px;
    border-radius: 15px;
    text-align: center;
}
.button {
    background-color: rgb(0, 193, 193);
    color: white;
    margin-left: 20px;
    width: 180px;
    height: 50px;
    border: 0px;
    border-radius: 20px;
    font-size: 1.1em;
}


.progress {
    width: 1000px;
    background-color: white;
    height: 1500px;
    margin-left: 250px;
    margin-top: 10px;
    border-radius: 15px;
    margin-bottom: 50px;
}
.sprints {
    width: 1000px;
    height: 60px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: rgba(128, 128, 128, 0.2);
    display: flex;
}
.container {
    height: 60px;
    width: 890px;
    display: flex;
    overflow: auto;
}
.sprint {
    border: 2px solid white;
    background-color: white;
    min-width: 150px;
    height: 50px;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 8px;
    color: rgb(0, 193, 193);
    line-height: 50px;
    text-align: center;
    font-size: 1.2em;
}
.line {
    width: 20px;
    height: 60px;
    text-align: center;
    line-height: 55px;
    font-size: 2em;
    color: rgb(0, 193, 193);
}
.add {
    background-color: rgb(0,0,0,0);
    border: 0px;
    width: 80px;
    font-weight: bold;
    font-size: 3em;
    color: rgb(0, 160, 160);
}
.status {
    margin-left: 400px;
    background-color: green;
    width: 200px;
    color: white;
    border-radius: 20px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    font-size: 1.2em;
    height: 50px;
    margin-top: 10px;
}
.info {
    line-height: 50px;
    height: 50px;
    width: 960px;
    margin-left: 20px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.2em;
    display: flex;
}
.statement {
    background-color: rgba(128, 128, 128, 0.2);
    margin-left: 20px;
    border-radius: 10px;
    font-weight: 500;
    padding-left: 10px;
    width: 750px;
    overflow: auto;
    height: 50px;
}
.deadline {
    background-color: rgba(128, 128, 128, 0.2);
    margin-left: 20px;
    border-radius: 10px;
    font-weight: 500;
    width: 170px;
    height: 50px;
    text-align: center;
}
.stories {
    margin-bottom: 20px;
    background-color: rgba(128, 128, 128, 0.2);
    margin-left: 20px;
    border-radius: 10px;
    width: 900px;
    height: 200px;
    padding: 20px;
    overflow: auto;
}
.error {
    margin-top: 2px;
    margin-left: 35px;
    height: 20px;
    color: red;
    font-size: 1em;
}
.score {
    width: 380px;
    height: 30px;
    margin-left: 20px;
    margin-bottom: 70px;
}
.score option{
    text-align: center;
}
::-webkit-scrollbar {
    display: none;
}

select.score:disabled {
    appearance: none;
    background: none;
    font-size: 1em;
    color: black; 
}

input:disabled{
    border: none;
}

textarea:disabled{
    border: none;
}

.hide {
    display: none;
}